lightning
transformers
diffusers==0.30.3
hf_transfer
sentencepiece
protobuf
schedulefree
accelerate
peft
optimum-quanto
bitsandbytes
prodigyopt
huggingface_hub
Pillow
pathlib
wandb
munch
mistral_inference
mistral_common